@charset "UTF-8";

/*////////////////*/
/*////////////////*/
/* LISTA DE MENU */
/*////////////////*/
/*/////////////// */
/*
/? Change Background-Color the Container Menu
/? width < 992
*/
#mainNav {
    /* background-color: #009c6d; */
    background-color: var(--background);
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Krona One', sans-serif;
    font-size: 0.65rem;
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 0.0625em;
    text-decoration: none;
    background-color: transparent;
    transition: margin-right 0.25s ease-in-out;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--secondy-color);
    margin-right: 5px;
}


/*////////////////*/
/*////////////////*/
/* RESPONSIVIDADE */
/*////////////////*/
@media (min-width: 992px) {
    #mainNav {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: none;
        background-color: #ffffff;
        box-shadow: 0px 0px 1.5px #202020;
        /* background-color: #fff; */
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
        height: 53px;
        transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        /* padding-top: 1rem;
        padding-bottom: 1rem; */
        background-color: #ffffff;
        /* background-color: #212529; */
    }
    /* #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    } */
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 45px;
    }
    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}


/*////////////////*/
/*////////////////*/
/* LISTA DE LINKS */
/*////////////////*/
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none;  
}
.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}
/*////////////////*/
/*////////////////*/
/* ESPAÇAMENTO SUPERIOR DO MENU */
/*////////////////*/
.navbar-toggler + .navbar-collapse.show {
  margin-top: 0;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* EFFECT HAMBURGER MENU */
/*////////////////*/
.hamburger-menu {
    display: flex;
    border-radius: 5px;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
}
.hamburger-menu #checkbox-menu{
    position: absolute;
    opacity: 0;
}
.hamburger-menu label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 31px;
    width: 40px;
    padding: 5px;
    margin: 0;
}
.hamburger-menu label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 30px;
    border-radius: 30px;
    background: var(--background);
    transition: 0.25s ease-in-out;
}
.hamburger-menu label span:nth-child(1){
    top: 5px
}
.hamburger-menu label span:nth-child(2){
    top: 13px;
}
.hamburger-menu label span:nth-child(3){
    top: 21px;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 13px;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 13px;
}
/*////////////////*/
/*////////////////*/
/* DELETE BORDER */
/*////////////////*/
.navbar-toggler {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
.navbar-toggler:active, .navbar-toggler:focus {
    border: 0;
    outline: 0;
}
.navbar-toggler.collapsed {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
.navbar-toggler.collapsed:active, .navbar-toggler.collapsed:focus {
    border: 0;
    outline: 0;
}
 /*////////////////*/